In [18]:
x = "Ade"
age =  24
print(x, " is ", age, " Years", "Old" )

Ade  is  24  Years Old

In [19]:
print(x)

Ade

##### DATA TYPES IN PYTHON

In [20]:
# int -  whole numbers
# float -  decimal number
# String -  text
# List -  multople data types
# Dictionary -  key value pair datas
# Set - 
# Boolean
# Tuple, etc

In [21]:
age = 24
print(age)

24

In [22]:
type(age)

int

In [23]:
x = "Jonah"
type(x)

str

In [37]:
fruits = ['Orange','Mango','Guava','Apple','Pineapple']
fruits

['Orange', 'Mango', 'Guava', 'Apple', 'Pineapple']

In [25]:
len(fruits)

5

In [26]:
fruits[1] = "Carrot"
fruits

['Orange', 'Carrot', 'Guava', 'Apple', 'Pineapple']

In [27]:
fruits[3] = "Mango"
fruits

['Orange', 'Carrot', 'Guava', 'Mango', 'Pineapple']

### LIST SLICING AND LIST MANIPULATION

In [28]:
fruits

['Orange', 'Carrot', 'Guava', 'Mango', 'Pineapple']

In [29]:
fruits[0:5:2]

['Orange', 'Guava', 'Pineapple']

In [30]:
fruits[-3]

'Guava'

In [31]:
# Add to a list - append, extend, insert
# remove from  a list - pop - del - remove

In [51]:
fruits.append('Banana')
fruits

['Orange', 'Mango', 'Berry', 'Guava', 'Apple', 'Pineapple', 'Banana']

In [52]:
fruits.insert(3, 'Shawachop')
fruits

['Orange',
 'Mango',
 'Berry',
 'Shawachop',
 'Guava',
 'Apple',
 'Pineapple',
 'Banana']

In [33]:
fruits.remove('Guava')
fruits

['Orange', 'Carrot', 'Mango', 'Pineapple', 'Banana']

In [34]:
fruits.pop()

'Banana'

In [35]:
del(fruits)

In [38]:
fruits

['Orange', 'Mango', 'Guava', 'Apple', 'Pineapple']

In [40]:
myfruit = ('Orange','Mango','Guava','Apple','Pineapple')
myfruit

('Orange', 'Mango', 'Guava', 'Apple', 'Pineapple')

In [41]:
type(myfruit)

tuple

In [42]:
myfruit = list(myfruit)
type(myfruit)

list

In [ ]:
myfruit

In [43]:
myfruit[2] = "Banana"
myfruit

['Orange', 'Mango', 'Banana', 'Apple', 'Pineapple']

In [44]:
myfruit =  tuple(myfruit)
myfruit

('Orange', 'Mango', 'Banana', 'Apple', 'Pineapple')

In [45]:
type(myfruit)

tuple

In [46]:
x =  "Ade"
x = "Jonah"
x = "Charity"
print(x)

Charity

In [47]:
# Write a program to SWAP two numbers without a temporary Variable
x =  4
y =  6
x, y  = y,x
print('the value of x  is' , x, 'and the value of y is', y)

the value of x  is 6 and the value of y is 4

In [48]:
x =  x + y
y  = x- y
x =  x-y
print('the value of x  is' , x, 'and the value of y is', y)

the value of x  is 4 and the value of y is 6

##### WRITE A PYTHON PROGRAM TO SWAP TWO NUMBERS WITH
##### A temporary VARIABLE