#### OPERATOR
 - assignmet operators eg = 
 - arithmetic operators eg. = +, -, *
 - relational or comparison eg. <, > <=, >=, ==, !=
-  logical - and, or

In [1]:
a  = 56
if a == 56:
    print(a)

56

In [14]:
if a < 60:
    print("Yes, the value of a is less than 60")
else:
    print("No,  a is not")

Yes, the value of a is less than 60

In [13]:
years = int(input(" Enter Number of Years "))
if years >= 5:
    print("Congratulations You are due for promotion")
else:
    print("Oops Sorry, You must have worked up to 5 Years")

 Enter Number of Years 4
Oops Sorry, You must have worked up to 5 Years

In [19]:
score =  int(input(" Enter Score "))
if score <= 49:
    print("Failed")
elif score <= 59:
    print("Average")
elif score <= 75:
    print("Credit")
else:
    print("Excellent")

 Enter Score 78
Excellent

In [23]:
firstname =  "ade"
lastname = "Bisi"
firstname.upper()

'ADE'

In [21]:
lastname.lower()

'bisi'

In [24]:
firstname.capitalize()

'Ade'

In [27]:
name = "Nebuchanezar"
len(name)

12

In [29]:
text =  "i love programming"
text.replace("programming", "Coding")

'i love Coding'

In [34]:
family = {'Dad':'Bola', 'Mum':'Bisi', 'Child':'Ade'}
family.keys()

dict_keys(['Dad', 'Mum', 'Child'])

In [36]:
family.values()

dict_values(['Bola', 'Bisi', 'Ade'])

In [37]:
family1 = {'Dad':'Bola', 'Mum':'Bisi', 'Child':'Ade'}
family2 = {'Dad':'Bode', 'Mum':'Chika', 'Child':'Malue'}
family3 = {'Dad':'Charles', 'Mum':'Mide', 'Child':'Chima'}

families = {'Family1':family1,'Family2':family2, 'Family3':family3}
families

{'Family1': {'Dad': 'Bola', 'Mum': 'Bisi', 'Child': 'Ade'},
 'Family2': {'Dad': 'Bode', 'Mum': 'Chika', 'Child': 'Malue'},
 'Family3': {'Dad': 'Charles', 'Mum': 'Mide', 'Child': 'Chima'}}

In [38]:
import pandas as pd

In [39]:
df = pd.DataFrame(families)
df

      Family1 Family2  Family3
Dad      Bola    Bode  Charles
Mum      Bisi   Chika     Mide
Child     Ade   Malue    Chima

In [41]:
df.shape

(3, 3)

In [42]:
df.describe()

       Family1 Family2  Family3
count        3       3        3
unique       3       3        3
top       Bola    Bode  Charles
freq         1       1        1

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Dad to Child
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Family1  3 non-null      object
 1   Family2  3 non-null      object
 2   Family3  3 non-null      object
dtypes: object(3)
memory usage: 96.0+ bytes

#### ITERATION
for loop, while loop

In [51]:
for i in range(1,22, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21

In [56]:
fruits = ['Orange','Mango','Guava','Apple','Pineapple']
fruits

if 'Orange' in fruits:
    for i in fruits:
        print(i)
else:
    print('No')

Orange
Mango
Guava
Apple
Pineapple

#### ASSIGNMENT
 - Ade is twice as old as his sister, four years ago he was six times as old
as his sister. What is the current age of ade now

 - Write a python code to show prime numbers as received from user

In [58]:
x =  5
y  = 7
z =  x + y
print(z*2)

24

In [35]:
# te = str.maketrans("p", "P")
# te.translate(text)